# Módulo Semana 1: Introducción a Python
# Curso en Google Colab

### Clase 1: Fundamentos de Python

# ¿Qué es Python?
"""
Python es un lenguaje de programación interpretado, de alto nivel, fácil de aprender y muy usado
para desarrollo web, automatización, análisis de datos, inteligencia artificial, etc.
"""

In [ ]:
# Primer programa
declaracion = "Hola mundo!"
#print(declaracion)

In [ ]:
# Variables y tipos
entero = 10
flotante = 3.15
texto = 'Python'
booleano = True

print(int(flotante))
#print(type(entero), type(flotante), type(texto), type(booleano))

3

In [ ]:
# Conversión de tipos
print(float(entero))
print(texto)

10.0
Python

In [ ]:
# Operaciones básicas
a = 5
b = 2
print(a + b, a - b, a * b, a / b, a ** b) #pow(a,b)
print(a // b, a % b)

7 3 10 2.5 25
2 1

In [ ]:
# Comparaciones y operadores lógicos
x = 10
y = 20
print(x < y, x == y, x != y)
print(x < y or y > 25) #V v F = V || V ^ F = F

True False True
True

In [ ]:
# Strings y métodos
nombre = "ana perez"
print(nombre.upper(), nombre.capitalize(), nombre.replace("a", "@"))

nombre2 = "Em1l10"
print(nombre2.replace("1","i"), nombre2.replace("0","o"))

ANA PEREZ Ana perez @n@ perez
Emili0 Em1l1o

In [ ]:
# Slicing y concatenación
mensaje = "Hola, mundo!"
print(mensaje[0:4], mensaje[-6:])

Hola mundo!

In [ ]:
# Funciones
def saludar(nombre):
    return f"Hola, {nombre}!"

print(saludar("Carlos"))

Mi edad es , 50!

In [ ]:
# Funciones integradas
print(len(nombre), sum([1, 2, 3]), max([5, 2, 8]))

9 6 8

In [ ]:
### Clase 2: Estructuras, control y arrays

# Listas
frutas = ["manzana", "pera", "uva"]
frutas.append("banana")
print(frutas)
print(frutas[3], len(frutas)) #LEN

['manzana', 'pera', 'uva', 'banana']
banana 4

In [ ]:
# Tuplas
punto = (3, 4)
print(punto[0])

3

In [ ]:
# Diccionarios
persona = {"nombre": "Ana", "edad": 30}
print(persona["nombre"], persona.get("edad"))
persona["ciudad"] = "Lima"
print(persona)

Ana 30
{'nombre': 'Ana', 'edad': 30, 'ciudad': 'Lima'}

In [ ]:
# Control de flujo
edad = 8

if edad >= 18:
    print("Es mayor de edad")
elif edad > 12: #Similar a Case en C/C++
    print("Es adolescente")
else:
    print("Es niño")

Es niño

In [ ]:
#For
#for i in range (10):
 # print(i)

numeros = [1,2,3,4,5]
suma = 0

for numero in numeros:
  suma += numero

  print(suma)


#suma = 0
#for i in range (0, 10,2):
# suma += i
# print(suma)

1
3
6
10
15

In [ ]:
# Lectura de archivos (simulado)
contenido = "Linea 1\nLinea 2\nLinea 3" #Alt 9



for linea in contenido.splitlines():
    print(" ", linea)

  Linea 1
  Linea 2
  Linea 3

In [ ]:
# Funciones con estructuras
def contar_edades(lista):
    return sum([1 for edad in lista if edad >= 18])

print(contar_edades([10, 15, 20, 30]))

2

In [ ]:
# Arrays o vector y matrices
vector = [1, 2, 3]
matriz = [[1, 2], [3, 4]]
print(vector[1], matriz[1][0])

2 3

In [ ]:
# Suma de vectores con listas
v1 = [1, 2, 3]
v2 = [4, 5, 6]
suma = [v1[i] + v2[i] for i in range(2)]
print("Suma:", suma)

Suma: [5, 7]

In [ ]:
# Nota final
"""
En la próxima sesión veremos cómo trabajar con arrays reales usando NumPy,
una librería diseñada para cálculos numéricos eficientes.
"""